<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="container">
        <div class="left-container">
            <div class="profile">
                <img src="https://i.pravatar.cc/60?img=<%=user.id%>" alt="pfp" class="pfp">
                <div class="username"><%= user.username %></div>
                <div class="email"><%= user.username %>@gmail.com</div>
                <a href="/log-out" class="logoutLink"><div class="logoutImg"></div></a>
            </div>
            <div class="allFolders"><div class="allFoldersImg"></div>All Folders</div>
            <% if(locals.folders) { %> 
                <% folders.map(folder => { %> 
                    <a href="/home/<%= folder.id %>" class="projects"> <%= folder.folderName %></a>
                <% }) %>    
            <% } %>
        </div>
        <div class="right-container">
            <div class="btnContainer">
                <button class="addFile button"><div class="Img plus"></div><div class="Img Doc"></div><div class="buttonName">New Document</div></button>
                <button class="addFolder button"><div class="Img plus"></div><div class="Img Folder Doc"></div><div class="buttonName">New Folder</div></button>
            </div>
            <div class="infoContainer">
                <a href="" class="info"><div></div>File name</a>
                <a href="" class="info"><span></span>Size</a>
                <a href="" class="info">Created</a>
            </div>
            <div class="content">
                <% if(locals.subFolders){ %> 
                    <% subFolders.map(subFolder => { %> 
                        <div class="fContainer">    
                            <a href="/home/<%= subFolder.id %>" class="subFolderName contentChild"><div class="folderImg"></div><%= subFolder.folderName %></a>
                            <div class="subFolderSize contentChild">No Size</div>
                            <% const formattedDate = subFolder.createdOn.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });  %>
                            <div class="subFolderDate contentChild"><%= formattedDate %></div>
                            <div class="threeDots">
                                <span></span>
                            </div>
                            <div class="downloadOptions showOptionsFolder">
                                <form action="/deleteFolder/<%=subFolder.id %>?folderParent=<%= subFolder.parentId%>" method="post" class="downloadClass">
                                    <button type="submit" class="downloadBtn"><div class="deleteImg"></div>Delete Folder</button>
                                </form>
                            </div>
                        </div>
                        <div class="line"></div>
                    <% }) %>
                <% } %>
                <% if(locals.files){ %> 
                    <% files.map(file => { %> 
                        <div class="fContainer">
                            <a class="subFolderName contentChild"><div class="fileImg"></div><%= file.name %></a>
                            <div class="subFolderSize contentChild"><%= file.size %> KB</div>
                            <% const formattedDate = file.createdOn.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });  %>
                            <div class="subFolderDate contentChild"><%= formattedDate %></div>
                            <div class="threeDots">
                                <span></span>
                            </div>
                            <div class="downloadOptions">
                                <form action="/download/<%=file.id %>" method="post" class="downloadClass">
                                    <button type="submit" class="downloadBtn"><div class="downloadImg"></div>Download File</button>
                                </form>
                                <form action="/delete/<%=file.id %>" method="post" class="downloadClass">
                                    <button type="submit" class="downloadBtn"><div class="deleteImg"></div>Delete File</button>
                                </form>
                            </div>
                        </div>
                        <div class="line"></div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>

    <form action="<%= folderId ? `/home/${folderId}` : '/home' %>" method="post" class="folderForm hide">
        <label for="folder" class="folderLabel">Create Folder</label>
        <input type="text" name="folderName" id="folder" placeholder="e.x John's Work">
        <div class="folderLine"></div>
        <div class="folderBtns">
            <button class="close">Cancel</button>
            <button class="submit">Create</button>
        </div>
    </form>

    <form action="<%= folderId ? `/home/${folderId}/file` : '/home/file' %>" method="post" class="fileForm hide" enctype="multipart/form-data">
        <div class="upperPart">
            <h3>Upload file</h3>
            <button class="closeFile">x</button>
        </div>
        <label for="file" class="fileLabel">Add New File</label>
        <input type="file" name="file" id="file">
        <button class="submit">Add File</button>
    </form>

    <script>
        const closeBtn = document.querySelector('.close');
        const form = document.querySelector('.folderForm');
        const addFolder = document.querySelector('.addFolder')

        closeBtn.addEventListener("click", (e) => {
            e.preventDefault();     
            form.classList.add('hide');
        })  

        addFolder.addEventListener('click', (e) => {
            e.preventDefault();
            form.classList.remove('hide');
        })

        const closeFile = document.querySelector('.closeFile');
        const formFile = document.querySelector('.fileForm');
        const addFile = document.querySelector('.addFile')

        closeFile.addEventListener("click", (e) => {
            e.preventDefault();     
            formFile.classList.add('hide');
        })  

        addFile.addEventListener('click', (e) => {
            e.preventDefault();
            formFile.classList.remove('hide');
        })
        const openOptionsList = document.querySelectorAll('.threeDots');
        const optionsList = document.querySelectorAll('.downloadOptions');

        document.addEventListener('click', (e) => {
            optionsList.forEach((options) => {
                if (!options.contains(e.target) && !e.target.closest('.threeDots')) {
                    options.classList.remove('showOptions');
                }
            });
        });

        openOptionsList.forEach((openOptions, index) => {
            openOptions.addEventListener('click', (e) => {
                e.stopPropagation(); 
                
                optionsList.forEach((options) => {
                    options.classList.remove('showOptions');
                });

                optionsList[index].classList.add('showOptions');
            });
        });

    </script>
</body>
</html>